services:
  frontend:
    container_name: chat-app-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    tty: true
    ports:
      - "3201:3201"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend

  backend:
    container_name: chat-app-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    tty: true
    environment:
      DATABASE_URL: postgresql://chat_user:(F,reYjwFv3%JE@db:5432/chat_app
      PORT: 3200
    ports:
      - '3200:3200'
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/generated
    depends_on:
      - db

  db:
    image: postgres:17-alpine3.22
    container_name: chat-app-db
    environment:
      POSTGRES_USER: chat_user
      POSTGRES_PASSWORD: (F,reYjwFv3%JE
      POSTGRES_DB: chat_app
    ports:
      - '5435:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data # データを永続化するためのボリューム

volumes:
  pgdata: